<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @dataset.type %>
</p>

<p>
  <b>Title:</b>
  <%= @dataset.title %>
</p>

<p>
  <b>Description:</b>
  <%= @dataset.description %>
</p>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
