<%if notice%>
<div class="alert alert-success" role="alert">
	<p id="notice"><%= notice %></p>
</div>
<%end%>

<h2>  <%= @dataset.title %></h2>
<div style='width: 500px;'>
  <div class="map" id="map" style='width: 500px; height: 300px;'></div>
</div>
<p>
  <b>Type:</b>
  <%= @dataset.category %>
</p>

<p>
  <b>Description:</b>
  <%= @dataset.description %>
</p>

<p>
	<%if @works%>
	<b>Projects:</b><br />
  <% @works.each do |work|%>
  <%= link_to work.name, work %><br />
  <% end #each%>
  <% end #if%>
</p>
<%= link_to'<button class="btn">+Aggiungi Progetto</button>'.html_safe, new_work_path %><br><br><br>

<p>Or you can upload your data from your files:</p>
<div class="import">
  <%= form_tag import_works_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :dataset_id, @dataset.id%>
  <%= submit_tag  'Upload', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_dataset_path(@dataset), :class => "btn" %> |
<%= link_to 'Delete', @dataset, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>



<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>