<%= form_for(@work) do |f| %>
<% if @work.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

  <ul>
    <% @work.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="name-field">
  <p>Name:  <%= f.text_field :name %></p>
</div>
<div class="start-field">
<p>Start Date:   <%= f.text_field :start, :class => 'datepicker'%></p>
</div>
<div class="end-field">
  <p>End Date:   <%= f.text_field :end, :class => 'datepicker'%></p>
</div>
<div class="places-field">
  <%= f.label :places, "Places" %>
  <%= f.hidden_field :places, :id => :places %>
</div>
<div class="extra-hidden-field">
  <%= f.hidden_field :extra_keys, :id => :extra_keys %>
  <%= f.hidden_field :extra_values, :id => :extra_values %>
</div>
<div class="places-text-fields"></div>
<div class="btn" id="add-place-field">+ Add Locations</div><br><br>
<div class="extra-text-fields">
  <p>Extra Fields</p>
  <% if @work.extra %>
    <% cont=0 %>
    <% @work.extra.each do |key, value| %>
      <input id=<%= 'extra-in-'+cont.to_s%> type="text" value= <%=""+key.to_s%>>
      <textarea id=<%= 'extra-tx-'+cont.to_s%>  type="text"><%=value.to_s%></textarea>
      <br>
      <% cont+=1 %>
    <% end #each%>
    <input id="cont_for_extra_update" type="hidden" value= <%=""+@work.extra.length.to_s%>>
  <%end #if%>
</div>
<div class="btn" id="add-extra-field">+ Add Field</div><br /><br />
<div class="btn btn-primary" id="process-data">Finish</div><br /><br />
<div class="actions hidden">
  <%= f.submit :class => "submit" %>
</div>
<% end %>


<script type="text/javascript">
//le funzioni usate sono in app/assets/javascripts/works.js
var cont_inputs_extra=0;
var cont_inputs_place=0;

$(document).ready(function(){
    cont=$('#cont_for_extra_update').val();
    if (cont && cont!=""){
      cont_inputs_extra=parseInt(cont);
      //voglio sapere quanti campi ci sono già in extra così poi so quanti ne vanno in process_extra, perché i valori nei vari campi vengono uniti per essere mandati al controller
    }
    //mette le informazioni già presenti du places nei campi dell'update
    places=$('#places').val();
    if (places && places!=""){ 
      cont_inputs_place=prepare_places_for_update();
    }

    $('#add-extra-field').click(function(){
      addextrafield(cont_inputs_extra);
      cont_inputs_extra++;
    });

    $('#add-place-field').click(function(){
      addplaces(cont_inputs_place);
      cont_inputs_place++;
    });

    //formatta i vari campi in più e li mette in extra pronti per il controller
    $('#process-data').click(function(){
      process_extra(cont_inputs_extra);
      process_places(cont_inputs_place);
      $('.submit').trigger("click");
    });
  });
</script>
