<table class="table">
  <tr>
    <th><%= t 'name'%></th>
    <th><%= t 'project_id'%></th>
    <th><%= t 'n_locations'%></th>
    <th><%= t 'start'%></th>
    <th><%= t 'end'%></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= link_to work.name, work %></td>
    <td><%= work.project_id %></td>
    <td><%= work.locations.length %></td>
    <td><%= work.start %></td>
    <td><%= work.end %></td>
    <td><%= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_work_path(work) %></td>
    <td><%= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, work, method: :delete, data: { confirm: t('sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new_project'), new_work_path, class: "btn" %>
