<%if notice%>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <b>Nome:</b>
  <%= @work.name %>
</p>

<p>
  <b>Data di Inizio:</b>
  <%= @work.start %>
</p>

<p>
  <b>Data di Fine:</b>
  <%= @work.end %>
</p>

<p>
  <b>Luoghi:</b><%=@work.locations.length%>
  <% @work.locations.each do |location| %>
  <p><%= link_to "#{location.name}, #{location.country}", location%></p>
  <%end%>
</p>

<%
keys=@work.get_extra_keys
hash=@work.get_extra_hash 
%>
<%if keys%>
<% keys.each do |key| %>
<p>
  <b><%= key.capitalize %>: </b>
  <%= hash[key] %>
</p>
<% end %>
<%end%>

<%= link_to 'Edit', edit_work_path(@work), :class => "btn" %> |
<%= link_to 'Delete', @work, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
