<% @datasets.each do |dataset| %>
<div class="info-block" id=<%="ds-info-"+dataset.id.to_s %>>
  <h2>Open: <%= link_to " "+dataset.title, dataset %></h2>

  <div style='width: 600px;'>
    <div class='map' id=<%= 'map'+dataset.id.to_s %> style='width: 600px; height: 300px;'>
    </div>
  </div>
  <br><br>

  <div class="bubble" style='width: 500px;'>Projects: <%= dataset.works.length%>
    <p>
    <%dataset.works.each do |work| %>
    <%= link_to work.name, work %><%= ", "if work!=dataset.works.last%>
    <%end%>
    </p>
    <p>
      <b>Description: </b>
      <%= dataset.description %>
    </p>
  </div>
</div><!-- hidden -->
<% end %>

<!-- vecchia home, tengo in caso 

  <%= render 'hidden_home_ds_info'%>

  <script type="text/javascript">
$(document).ready(function(){
  $('.info-block').hide();
  $('li').on('click', function () {
    id=$(this).attr('id');
    $('.info-block').hide();
    $('div #ds-info-'+id).show();
    window["showMap"+id]();
  });
});

<% @datasets.each do |dataset| %>
function showMap<%=dataset.id.to_s %>(){
    handler<%=dataset.id.to_s %> = Gmaps.build('Google');
    handler<%=dataset.id.to_s %>.buildMap({ provider: {}, internal: {id: 'map'+<%=dataset.id.to_s %>}}, function(){
      markers = handler<%=dataset.id.to_s %>.addMarkers([
        <% cont = 0%>
        <% dataset.locations.uniq.each do |location| %>
        <%if location.latitude && location.longitude%>
        {
          "lat": <%= location.latitude%>,
          "lng": <%= location.longitude%>
        } <%= ',' if cont!=dataset.locations.length%>
        <%end #if%>
        <% cont+=1%>
        <% end %>
        ]);
      handler<%=dataset.id.to_s %>.bounds.extendWith(markers);
      handler<%=dataset.id.to_s %>.fitMapToBounds();
    });
  }
  <%end%>
</script>
-->