<h1 style="margin:0;">Home</h1><hr style="margin-top:10px;">

<div style="width:90%; height:500px;">
	<div class="map" id="map" style='width: 100%; height: 100%;'></div>
</div>
<br>
<div class="container-fluid">
	<% @datasets.each do |d| %>
	<div>
		<h3><%= link_to d.title, d %> <img src=<%= ""+ d.auto_marker_icon(current_user)%>></h3>
		<p><%= d.description %></p>
		<p><b><%= t 'locations'%>:</b></p>
		<p>
			(<%=d.locations.uniq.length%>)
			<% d.locations.uniq.each do |loc|%>

			<%= if loc.name && loc.name!=""
					loc.name
				else
					loc.country
				end %>
			<%= ", "if loc!=d.locations.uniq.last%>
			<% end %>
		</p>
	</div>
	<%end%>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		showMapHome(<%=raw @hash.to_json %>);
	})
</script>
