<h1 style="margin:0;">Home</h1><hr style="margin-top:10px;">

<div style="width:90%; height:500px;">
	<div class="map" id="map" style='width: 100%; height: 100%;'></div>
</div>
<br>
<div style="width:90%;">
	<% @datasets.each do |d| %>
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "#collapse"+d.id.to_s%>>
					<h3><%= d.title%> <img src=<%= ""+ d.auto_marker_icon(current_user)%>></h3>
				</a>
			</div>
			<div id=<%= "collapse"+d.id.to_s%> class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="bubble">
						<p><%= d.description %></p>
						<p><b><%= t 'locations'%>:</b></p>
						<p>
							(<%=d.locations.uniq.length%>)
							<% d.locations.uniq.each do |loc|%>

							<%= if loc.name && loc.name!=""
								loc.name
							else
								loc.country
							end %>
								<%= ", "if loc!=d.locations.uniq.last%>
							<% end %>
						</p>
						<p align="right"><%=link_to t('open')+'...', d%></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%end%>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		showMapHome(<%=raw @hash.to_json %>);
	})
</script>

