<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= t 'name'%>:  <%= f.text_field :name %></p>
  </div>
  <div class="field">
    <p><%= t 'country'%>:  <%= f.text_field :country %></p>
  </div>
  <div class="field">
    <p><%= t 'latitude'%>:  <%= f.text_field :latitude %></p>
  </div>
  <div class="field">
    <p><%= t 'longitude'%>:  <%= f.text_field :longitude %></p>
  </div>
  <div class="actions">
 <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
