<%if notice%>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<%end%>
<div class="container-fluid" align="center" style="margin-left: 25%;">
  <div class="span 5">
    <h3>
      <b><%= @location.name %>, <%= @location.country %></b> 
    </h3>

    <p>
      <b>Lat:</b>
      <%= @location.latitude %>
    </p>

    <p>
      <b>Lng:</b>
      <%= @location.longitude %>
    </p>
    <p>
      <b>projects in this place:</b>
    </p>
    <%if @open_dataset%>
    <p>
      <% @location.works_in_ds(@open_dataset).each do |work| %>
      <%= link_to work.name, work %>
      <%= ", " if work!=@location.works_in_ds(@open_dataset).last %>
      <%end%>
    </p>
    <%end%>
    <br/ >
  </div>

  <div class="span 5 ">
    <div style='width: 300px;'>
      <div class="map" id="map" style='width: 300px; height: 200px;'></div>
    </div>
  </div>
</div>
<br><br>
<%= link_to 'Edit', edit_location_path(@location), :class => "btn" %> |
<%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ 
  provider: {},
  internal: {id: 'map'}},
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  //handler.getMap().setOptions( {zoom: 1});
  handler.getMap().setZoom(7);
});

</script>

