<%if notice%>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<%end%>
<h2>
  <%= 
  if @location.name && @location.name!=""
    "#{@location.name}, #{@location.country}"
  else
    "#{@location.country}"
  end
  %>
</h2>
<div class="bubble" style="width:80%; text-align:left;">
  <div align="center"> 
    <div class="map" id="map" style='width: 80%; height: 300px;'></div>
  </div>
  <div style="width:80%; margin-left: auto; margin-right:auto;">
    <p>
      <b><%= t('latitude')%>:</b>
      <%= @location.latitude %>
    </p>
    <p>
      <b><%= t('longitude')%>:</b>
      <%= @location.longitude %>
    </p>
    <p>
      <b<%= t('projects_in_place')%>:</b>
    </p>
    <%if @current_dataset%>
    <p>
      <% @location.works_in_ds(@current_dataset).each do |work| %>
      <%= link_to work.name, work %>
      <%= ", " if work!=@location.works_in_ds(@current_dataset).last %>
      <%end%>
    </p>
    <%end%>
  </div>
</div>
<br><br>
<%= link_to t('edit'), edit_location_path(@location), :class => "btn" %>

<script type="text/javascript">
$(document).ready(function(){
  showMap(<%=raw @hash.to_json %>);
})
</script>

